In [1]:
import pandas as pd

In [2]:
data = {
    'a': 100,
    'b': 200,
    'c': 300
}
pd.DataFrame(data, index=['x','y','z'])

     a    b    c
x  100  200  300
y  100  200  300
z  100  200  300

In [3]:
import numpy as np

# 각각의 키는 칼럼을 의미한다 
data2 = {
    'a': [1,2,3],
    'b': [4,5,6],
    'c': np.arange(7,10)
}
pd.DataFrame(data2)

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [4]:
s1 = pd.Series(np.arange(1,4))
s2 = pd.Series(np.arange(4,7))
s3 = pd.Series(np.arange(7,10))
pd.DataFrame([s1,s2,s3])

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [5]:
a = pd.Series([100,200,300], ['a','b','d'])
b = pd.Series([101,201,301], ['a','b','d'])
c = pd.Series([102,202,302], ['a','b','d'])
pd.DataFrame([a,b,c])

     a    b    d
0  100  200  300
1  101  201  301
2  102  202  302

In [9]:
# 없는 칼럼의 경우 자동으로 NaN으로 채워준다.

x = pd.Series([100,200,300], ['a','b','k'])
y = pd.Series([101,201,301], ['a','b','f'])
z = pd.Series([102,202,302], ['a','b','g'])
pd.DataFrame([x,y,z])

       a      b      k      f      g
0  100.0  200.0  300.0    NaN    NaN
1  101.0  201.0    NaN  301.0    NaN
2  102.0  202.0    NaN    NaN  302.0

In [8]:
a

a    100
b    200
k    300
dtype: int64